@import "utils/media";
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
*:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
  font-style: normal;
  font-weight: 400;
}
html {
  box-sizing: border-box;
  line-height: 1;
  scroll-behavior: smooth;
  text-rendering: unset;
  -webkit-font-smoothing: unset;
  scrollbar-width: none;
}
body {
  max-width: 1500px;
  margin: 0 auto;
  background-color: var(--backgroundPrimary);
}
