@import "@/app/styles/utils/variables.scss";
@import "@/app/styles/utils/media.scss";

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 240px;
  font-size: 16px;
  color: var(--textPrimary);
  background-color: var(--backgroundSecondary);
  border-color: var(--cardBorderColor);
  @include media-mobile {
    width: 220px;
  }
  @include media-custom(450px) {
    width: 185px;
  }
  &__image {
    padding: 10px;
    object-fit: contain;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  &__price {
    font-size: 18px;
  }
  &__title {
    color: var(--textPrimary);
  }
  &__rating {
    &-rate {
      margin-left: 2px;
    }
    &-count {
      &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: #9d9da5;
        margin: 0 4px 2px;
      }
    }
  }
  &__button {
    > button {
      width: 100%;
      font-size: 16px;
      &.inCart {
        background-color: #e65b01;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        &:hover {
          background-color: #ff7d29 !important;
        }
      }
    }
  }
}
