.cart {
  &__coupon {
    &-input {
      display: flex;
      align-items: center;
      > input {
        width: 100%;
        padding: 0;
        padding-right: 40px;
        background: none;
        font-size: 18px;
        border: none;
        outline: none;
        height: 20px;
        border-radius: 0;
        color: var(--textPrimary);
        &:active,
        &:hover,
        &:focus {
          background: none;
          outline: 0;
          outline-offset: 0;
          border: 0;
        }
      }
      > button {
        &.cancelCoupon {
          background-color: #e65b01;
          transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
          &:hover {
            background-color: #ff7d29 !important;
          }
        }
      }
    }
    &-info {
      font-size: 12px;
    }
  }
}
