.rating {
  color: var(--textPrimary);
  &__rate {
    margin-left: 2px;
  }
  &__count {
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: #9d9da5;
      margin: 0 4px 2px;
    }
  }
}
