.cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: 100%;
  background-color: var(--backgroundPrimary);
  color: var(--textPrimary);
  &__body {
    padding: 10px;
  }
  &__info {
    font-size: 22px;
  }
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--backgroundSecondary);
    padding: 10px;
  }
  &__coupon {
    > input {
      padding: 0;
      background: none;
      font-size: 18px;
      border: none;
      outline: none;
      height: 20px;
      border-radius: 0;
      color: var(--textPrimary);
      &:active,
      &:hover,
      &:focus {
        background: none;
        outline: 0;
        outline-offset: 0;
        border: 0;
      }
    }
  }
  &__preresult {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    border-top: 1px solid var(--divideBorderColor);
    padding-top: 10px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    border-top: 1px solid var(--divideBorderColor);
  }
  &__order {
    width: 100%;
    padding: 18px 54px;
    font-size: 18px;
    border-radius: 20px;
  }
}
